<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org ; >
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="no-cache,must-revalidate" />
    <meta http-equiv="pragram" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script type="text/javascript"  th:src="@{/js/jquery-3.3.1.js}"></script>
    <script src="https://unpkg.com/vue@2.7.10"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>权限管理</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .button_div{
            height: 60px;
            line-height: 60px;
            text-align: right;
            padding-right: 20px;
        }
        ::-webkit-scrollbar {
            width: 10px;
            height: 1px;
        }
        /*滚动条滑块*/
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
            background: #ECF4FE;
            /*background: #66b1ff;*/
        }
        /*滚动条轨道*/
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 0.8px rgba(0,0,0,0);
            border-radius: 10px;
            background: #FFFFFF;
        }
        .keyword{
            width:300px;
        }

    </style>
</head>
<body>
    <div id="app">

        <div class="button_div">
            <el-input
                    class="keyword"
                    placeholder="输入关键字进行过滤"
                    v-model="filterText">
            </el-input>
            <el-button type="primary" icon="el-icon-plus" @click="edit('add')">新增</el-button>
            <el-button type="primary" icon="el-icon-edit" @click="edit('edit')">修改</el-button>
            <el-button type="primary" icon="el-icon-delete" @click="del">删除</el-button>
        </div>
        <template>


            <el-tree
                    class="filter-tree"
                    :data="data"
                    :props="defaultProps"
                    default-expand-all
                    :filter-node-method="filterNode"
                    ref="tree">
            </el-tree>
        </template>
        <el-dialog
                title="新增修改"
                :visible.sync="dialogVisible"
                width="80%"
                :before-close="handleClose">
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="登录名">
                    <el-input v-model="form.loginName"></el-input>
                </el-form-item>

                <el-form-item label="性别">
                    <el-select v-model="form.sex" placeholder="请选择性别">
                        <el-option label="男" value="男"></el-option>
                        <el-option label="女" value="女"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="地址">
                    <el-input v-model="form.address"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="onSubmit">确 定</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

    </div>
</body>
<script  th:inline="javascript">
    /*<![CDATA[*/
    // var context = [[@{/}]];
    /*]]>*/
    new Vue({
        el: '#app',
        data: function() {
            return {
                data: [{
                    id: 1,
                    label: '一级 1',
                    children: [{
                        id: 4,
                        label: '二级 1-1',
                        children: [{
                            id: 9,
                            label: '三级 1-1-1'
                        }, {
                            id: 10,
                            label: '三级 1-1-2'
                        }]
                    }]
                }, {
                    id: 2,
                    label: '一级 2',
                    children: [{
                        id: 5,
                        label: '二级 2-1'
                    }, {
                        id: 6,
                        label: '二级 2-2'
                    }]
                }, {
                    id: 3,
                    label: '一级 3',
                    children: [{
                        id: 7,
                        label: '二级 3-1'
                    }, {
                        id: 8,
                        label: '二级 3-2'
                    }]
                }],
                dialogVisible:false,
                //新增修改表单数据
                form: {
                    id:'',
                    roleName:'',
                    label: '',
                    description:'',
                    sort:'',
                    enableFlag:''
                },
                //权限树形下拉 模糊查询keyword
                filterText: '',
                //树形节点
                defaultProps: {
                    children: 'children',
                    label: 'label'
                }
            }
        },
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        },
        methods: {
            //模糊过滤属性节点
            filterNode(value, data) {
                if (!value) return true;
                return data.label.indexOf(value) !== -1;
            },
            edit(e){

            },
            del(){

            },
        },
        mounted: function () {
            search(this.pageSize,this.pageIndex).then((res) => {
                this.tableData = res.data //将前端的数据data赋上后端的值
                this.tableTotal = res.total;
            }).catch(e => {
                console.log(e + '公共的err')
            })
        }
    })

    function search(pageSize,pageIndex){
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '/user/list.action',
                data: {
                    userVo:{},
                    pageSize:pageSize,
                    pageIndex:pageIndex,
                    keyword:$("#keyword").val()
                },
                dataType: 'json',
                success: function (res) {
                    var data = res.data;
                    if (res.success) {
                        resolve(res)
                    } else {
                        reject(res.message)
                    }
                },
                error: function (data) {
                    // alert("error");
                }
            });
        })

    }

    /**
     * 编辑回显
     * @param id
     * @param pageIndex
     * @returns {Promise<unknown>}
     */
    function editEcho(id){
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '/user/list.action',
                data: {id:id},
                dataType: 'json',
                success: function (res) {
                    var data = res.data;
                    if (res.success) {
                        resolve(res)
                    } else {
                        reject(res.message)
                    }
                },
                error: function (data) {
                    alert("error");
                }
            });
        })

    }

    function save(formdata){
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '/user/save.action',
                data: {userVo:JSON.stringify(formdata)},
                dataType: 'json',
                type:'post',
                success: function (res) {
                    if (res) {
                        resolve(res)
                    } else {
                        reject(res)
                    }
                },
                error: function (data) {
                    alert("error");
                }
            });
        })
    }
    function delById(id){
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '/user/delete.action',
                data: {id:id},
                dataType: 'json',
                type:'post',
                success: function (res) {
                    if (res) {
                        resolve(res)
                    } else {
                        reject(res)
                    }
                },
                error: function (data) {
                    alert("error");
                }
            });
        })
    }

</script>
</html>