<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org ; >
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="no-cache,must-revalidate" />
    <meta http-equiv="pragram" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script type="text/javascript"  th:src="@{/js/jquery-3.3.1.js}"></script>
    <script src="https://unpkg.com/vue@2.7.10"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>权限管理</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .button_div{
            height: 60px;
            line-height: 60px;
            text-align: right;
            padding-right: 20px;
        }
        ::-webkit-scrollbar {
            width: 10px;
            height: 1px;
        }
        /*滚动条滑块*/
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
            background: #ECF4FE;
            /*background: #66b1ff;*/
        }
        /*滚动条轨道*/
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 0.8px rgba(0,0,0,0);
            border-radius: 10px;
            background: #FFFFFF;
        }
        .keyword{
            width:300px;
        }

    </style>
</head>
<body>
    <div id="app">

        <div class="button_div">
            <el-input
                    class="keyword"
                    placeholder="输入关键字进行过滤"
                    v-model="filterText">
            </el-input>
            <el-button type="primary" icon="el-icon-plus" @click="edit('add')">新增</el-button>
            <el-button type="primary" icon="el-icon-edit" @click="edit('edit')">修改</el-button>
            <el-button type="primary" icon="el-icon-delete" @click="del">删除</el-button>
        </div>
        <template>


            <el-tree
                    class="filter-tree"
                    :data="data"
                    :props="defaultProps"
                    default-expand-all
                    node-key="id"
                    :filter-node-method="filterNode"
                    ref="tree">
            </el-tree>
        </template>
        <el-dialog
                title="新增修改"
                :visible.sync="dialogVisible"
                width="80%"
                :before-close="handleClose">
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="父级节点">
                    <el-input v-model="form.parentId" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="权限名称">
                    <el-input v-model="form.permissionName"></el-input>
                </el-form-item>
                <el-form-item label="权限标签">
                    <el-input v-model="form.label"></el-input>
                </el-form-item>
                <el-form-item label="权限url">
                    <el-input v-model="form.path"></el-input>
                </el-form-item>
                <el-form-item label="权限图标">
                    <el-input v-model="form.icon" placeholder="请输入elementUI的图标class"></el-input>
                </el-form-item>
                <el-form-item label="排序">
                    <el-input-number v-model="form.sort" :min="1" ></el-input-number>
                </el-form-item>

                <el-form-item label="描述">
                    <el-input v-model="form.description"></el-input>
                </el-form-item>

                <el-form-item label="是否启用">
                    <el-select v-model="form.enableFlag" placeholder="请选择">
                        <el-option label="是" value="YES"></el-option>
                        <el-option label="否" value="NO"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item>
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="onSubmit">确 定</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

    </div>
</body>
<script  th:inline="javascript">
    /*<![CDATA[*/
    // var context = [[@{/}]];
    /*]]>*/
    new Vue({
        el: '#app',
        data: function() {
            return {
                //主页面树状列表的数据
                data: [],
                dialogVisible:false,
                //新增修改表单数据
                form: {
                    id:'',
                    parentId:'',
                    permissionName:'',
                    path:'',
                    label: '',
                    icon:'',
                    isLeaf:'',
                    type:'',
                    sort:'',
                    description:'',
                    systemCode:'',
                    isSystemRoot:'',
                    enableFlag:''
                },
                //权限树形下拉 模糊查询keyword
                filterText: '',
                //树形节点
                defaultProps: {
                    children: 'children',
                    label: 'label'
                }
            }
        },
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        },
        methods: {
            //模糊过滤属性节点
            filterNode(value, data) {
                if (!value) return true;
                return data.label.indexOf(value) !== -1;
            },
            //编辑（新增修改）
            edit(e){
                //清空表单数据
                this.form = {};
                //获取选中的节点(用来确定父级或者修改)
                var treeId = this.$refs.tree.getCurrentKey();
                if(e == "add"){
                    this.form.parentId = treeId;
                    this.dialogVisible = true;
                }else{
                    editEcho(treeId).then((res) => {
                        this.form = res.data[0];
                        this.dialogVisible = true;
                    }).catch(e => {
                            console.log(e + '公共的err')
                    })
                }

            },
            onSubmit(){

                save(this.form).then((res) => {
                    this.$message('保存成功');
                    this.searchReload();
                    this.dialogVisible = false;
                }).catch(e => {
                    console.log(e + '保存失败')
                })
            },
            del(){
                var treeId = this.$refs.tree.getCurrentKey();
                if(treeId == null || treeId == ""){
                    this.$message('请选择一条进行删除');
                    return ;
                }
                //确定删除
                this.$confirm('确定要删除这条记录吗？').then(_ => {
                    delById(treeId).then((res) => {
                    this.$message('删除成功');
                    this.searchReload();
                }).catch(e => {
                    this.$message('删除失败');
                })

                }).catch(_ => {});
            },
            searchReload(){
                search().then((res) => {
                    this.data = res.data //将前端的数据data赋上后端的值
                }).catch(e => {
                        console.log(e + '公共的err')
                })
            }
        },
        mounted: function () {
            search().then((res) => {
                this.data = res.data //将前端的数据data赋上后端的值
            }).catch(e => {
                console.log(e + '公共的err')
            })
        }
    })

    function search(){
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '/permission/getPermissionListTree.action',
                data: {
                },
                dataType: 'json',
                success: function (res) {
                    var data = res.data;
                    if (res.success) {
                        resolve(res)
                    } else {
                        reject(res.message)
                    }
                },
                error: function (data) {
                    // alert("error");
                }
            });
        })

    }

    /**
     * 编辑回显
     * @param id
     * @param pageIndex
     * @returns {Promise<unknown>}
     */
    function editEcho(id){
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '/permission/list.action',
                data: {id:id},
                dataType: 'json',
                success: function (res) {
                    var data = res.data;
                    if (res.success) {
                        resolve(res)
                    } else {
                        reject(res.message)
                    }
                },
                error: function (data) {
                    alert("error");
                }
            });
        })

    }

    function save(formdata){
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '/permission/save.action',
                data: {permission:JSON.stringify(formdata)},
                dataType: 'json',
                type:'post',
                success: function (res) {
                    if (res) {
                        resolve(res)
                    } else {
                        reject(res)
                    }
                },
                error: function (data) {
                    alert("error");
                }
            });
        })
    }
    function delById(id){
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '/permission/delete.action',
                data: {id:id},
                dataType: 'json',
                type:'post',
                success: function (res) {
                    if (res) {
                        resolve(res)
                    } else {
                        reject(res)
                    }
                },
                error: function (data) {
                    alert("error");
                }
            });
        })
    }

</script>
</html>